---
permalink: /products/bagels/bagel-matrix/
---
<table>
  <thead>
    <tr>
      <th data-sort="string">Name</th>
      <th data-sort="int">Calories</th>
      <th data-sort="float">Total Fat</th>
      <th data-sort="int">Sodium</th>
      <th data-sort="int">Carbs</th>
      <th data-sort="int">Sugar</th>
      <th data-sort="int">Fiber</th>
      <th data-sort="int">Protein</th>
    </tr>
  </thead>
  <tbody>
    {% for bagel in site.bagels %}
      <tr class={{ bagel.title }}>
        <td>{{ bagel.title }}</td>
        {% for fact in bagel.nutrition %}
          <td>{{ fact[1] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
