---
permalink: /products/bagels/bagel-matrix/
---

{% include mobile-nav.html %}
<div class="product-matrix__title-wrapper">
  <h1 class="product-matrix__title">Bagel Nutritional Comparison</h1>
  <h6 class="product-matrix__subtext">Our bagel is locally sourced and blah blah blah. Something letting users they can click on the columns to sort by the different nutritional stuff</h6>
</div>
<table class="product-matrix">
  <thead class="product-matrix__header-wrapper">
    <tr class="product-matrix__header">
      <th data-sort="string">Name (Serving Size 1 Bagel)</th>
      <th data-sort="int">Calories</th>
      <th data-sort="float">Total Fat (g)</th>
      <th data-sort="int">Sodium (mg)</th>
      <th data-sort="int">Carbs (g)</th>
      <th data-sort="int">Sugar (g)</th>
      <th data-sort="int">Fiber (g)</th>
      <th data-sort="int">Protein (g)</th>
    </tr>
  </thead>
  <tbody class="product-matrix__data-wrapper">
    {% for bagel in site.bagels %}
      <tr class={{ bagel.title }}>
      <!-- <tr> -->
        <td class="product-matrix__product-name">{{ bagel.title }}</td>
        {% for fact in bagel.nutrition %}
          <td>{{ fact[1] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
