---
permalink: /products/bagels/bagel-matrix/
---
<table>
  <thead>
    <tr>
      <th data-sort="string">Name (Serving Size 1 Bagel)</th>
      <th data-sort="int">Calories</th>
      <th data-sort="float">Total Fat (g)</th>
      <th data-sort="int">Sodium (mg)</th>
      <th data-sort="int">Carbs (g)</th>
      <th data-sort="int">Sugar (g)</th>
      <th data-sort="int">Fiber (g)</th>
      <th data-sort="int">Protein (g)</th>
    </tr>
  </thead>
  <tbody>
    {% for bagel in site.bagels %}
      <tr class={{ bagel.title }}>
        <td>{{ bagel.title }}</td>
        {% for fact in bagel.nutrition %}
          <td>{{ fact[1] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
