---
layout: default
permalink: /products/bagels/
---

<div class="bagels__hero">
  {% include mobile-nav.html %}

  <h1 class="bagels__hero-title">Bagels</h1>
  <a class="bagels__hero-subtext" href="/products/bagels/bagel-matrix/"><h6>Compare Nutrition Facts</h6></a>
</div>

<div class="bagels" id="bagelPage">
  {% for bagel in site.bagels %}
    {% assign link = bagel.title %}
    <a class="bagels__link" href={{ "/products/bagels/" | append: link }}>
      <div class="bagels__wrapper">
        <img class="bagels__image img_responsive" src={{ bagel.image }} alt="">
        <h2 class="bagels__name">{{ link }}</h2>
      </div>
    </a>

  {% endfor %}

<!-- Temporary solution for the flexbox issue. this messes up the last bagel when bagels stack -->
  <div class="bagels__link">
  </div>
  <div class="bagels__link">
  </div>


</div>
