---
layout: default
permalink: /products/bread/
---

<div class="breads__hero">
  {% include mobile-nav.html %}

  <h1 class="breads__hero-title">BREAD</h1>
</div>


<div class="breads" id="breadPage">
  {% for bread in site.bread %}
    {% assign link = bread.title %}
    <a class="breads__link" href={{ "https://sandromateo.github.io/gabriels-website/products/bread/" | append: link }}>
      <div class="breads__wrapper">
        <img class="breads__image" src={{ bread.image }} alt="">
        <img class="breads__name img-responsive" src={{ bread.labelImage }}>
      </div>
    </a>
  {% endfor %}

  <!-- Temporary solution for the flexbox issue. this messes up the last bagel when bagels stack -->

      <a class="breads__link" href="https://sandromateo.github.io/gabriels-website/products/bread/bread-matrix/">
        <div class="breads__wrapper">
          <h2 class="breads__name">Compare Nutrition Facts</h2>
          <br><br><br><br><br>
        </div>
      </a>

    <div class="breads__link">
    </div>
</div>
