---
permalink: products/bread/bread-matrix/
---
<table>
  <thead>
    <tr>
      <th data-sort="string">Name (Serving Size 1 Slice)</th>
      <th data-sort="int">Calories</th>
      <th data-sort="float">Total Fat (g)</th>
      <th data-sort="int">Sodium (mg)</th>
      <th data-sort="int">Carbs (g)</th>
      <th data-sort="int">Sugar (g)</th>
      <th data-sort="int">Fiber (g)</th>
      <th data-sort="int">Protein (g)</th>
    </tr>
  </thead>
  <tbody>
    {% for bread in site.bread %}
      <tr class={{ bread.title }}>
        <td>{{ bread.title }}</td>
        {% for fact in bread.nutrition %}
          <td>{{ fact[1] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
