---
permalink: products/bread/bread-matrix/
---

{% include mobile-nav.html %}
<table class="product-matrix">
  <thead class="product-matrix__header-wrapper">
    <tr class="product-matrix__header">
      <th data-sort="string">Name (Serving Size 1 Slice)</th>
      <th data-sort="int">Calories</th>
      <th data-sort="float">Total Fat (g)</th>
      <th data-sort="int">Sodium (mg)</th>
      <th data-sort="int">Carbs (g)</th>
      <th data-sort="int">Sugar (g)</th>
      <th data-sort="int">Fiber (g)</th>
      <th data-sort="int">Protein (g)</th>
    </tr>
  </thead>
  <tbody class="product-matrix__data-wrapper">
    {% for bread in site.bread %}
      <tr class={{ bread.title }}>
      <!-- <tr> -->
        <td class="product-matrix__product-name">{{ bread.title }}</td>
        {% for fact in bread.nutrition %}
          <td>{{ fact[1] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
