---
layout: default
permalink: /products/bread/
---


<div class="flex">
  {% for bread in site.bread %}
    {% assign link = bread.title %}
    <div class="product-box img-responsive">
      <img class="bread" src={{ bread.image }} alt="">
      <h2><a href={{ "/products/bread/" | append: link }}>{{ link }}</a></h2>
    </div>
  {% endfor %}
</div>

<table>
  <thead>
    <tr>
      <th data-sort="string">Name</th>
      <th data-sort="int">Calories</th>
      <th data-sort="float">Total Fat</th>
      <th data-sort="int">Sodium</th>
      <th data-sort="int">Carbs</th>
      <th data-sort="int">Sugar</th>
      <th data-sort="int">Fiber</th>
      <th data-sort="int">Protein</th>
    </tr>
  </thead>
  <tbody>
    {% for bread in site.breads %}
      <tr>
        <td>{{ bread.title }}</td>
        {% for fact in bread.nutrition %}
          <td>{{ fact[1] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
