---
layout: default
permalink: /products/bread/
---

<div class="breads__hero">
  {% include mobile-nav.html %}

  <h1 class="breads__hero-title">Bread</h1>
  <h4 class="breads__hero-subtext">"Nom Nom Nom"</h4>
  <a class="breads__hero-subtext" href="/products/bread/bread-matrix/" target="_blank"><h6>Compare Nutrition Facts</h6></a>
</div>


<div class="breads" id="breadPage">
  {% for bread in site.bread %}
    {% assign link = bread.title %}
    <a class="breads__link" href={{ "/products/bread/" | append: link }}>
      <div class="breads__wrapper">
        <img class="breads__image" src={{ bread.image }} alt="">
        <h2 class="breads__name">{{ link }}</h2>
      </div>
    </a>
  {% endfor %}

  <!-- Temporary solution for the flexbox issue. this messes up the last bagel when bagels stack -->
    <div class="breads__link">
    </div>
    <div class="breads__link">
    </div>
</div>
