---
layout: default
permalink: /products/
---

<div id="products" class="jumbotron">
  <h1>Our Products</h1>
  <h4>"Sustainability, Creativity, Community, Commitment, Choosing Local"</h4>
</div>
<div class="flex">
  <div id="flex-products" class="product-box img-responsive">
    <a href="/products/bread"><img class="products" src="../../images/breads.png" alt="">
    <h2>Bread</h2></a>
  </div>
  <div class="product-box img-responsive">
    <a href="/products/bagels"><img href="/products/bagels" class="products" src="../../images/bagels.png" alt="">
    <h2>Bagels</h2></a>
  </div>
  <div class="product-box img-responsive">
    <a href="/products/pastries"><img href="/products/pastries" class="products" src="../../images/pastries.png" alt="">
    <h2>Pastries</h2></a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table>
      <thead>
        <tr>
          <th data-sort="string">Name</th>
          <th data-sort="int">Calories</th>
          <th data-sort="float">Total Fat</th>
          <th data-sort="int">Sodium</th>
          <th data-sort="int">Carbs</th>
          <th data-sort="int">Sugar</th>
          <th data-sort="int">Fiber</th>
          <th data-sort="int">Protein</th>
        </tr>
      </thead>
      <tbody>
        {% for bagel in site.bagels %}
          <tr class={{ bagel.title }}>
            <td>{{ bagel.title }}</td>
            {% for fact in bagel.nutrition %}
              <td>{{ fact[1] }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table>
      <thead>
        <tr>
          <th data-sort="string">Name</th>
          <th data-sort="int">Calories</th>
          <th data-sort="float">Total Fat</th>
          <th data-sort="int">Sodium</th>
          <th data-sort="int">Carbs</th>
          <th data-sort="int">Sugar</th>
          <th data-sort="int">Fiber</th>
          <th data-sort="int">Protein</th>
        </tr>
      </thead>
      <tbody>
        {% for bread in site.bread %}
          <tr class={{ bread.title }}>
            <td>{{ bread.title }}</td>
            {% for fact in bread.nutrition %}
              <td>{{ fact[1] }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
