<div class="sidebar">
	<div class="sidebar__wrapper">

		<!-- Logo -->
			<div class="sidebar__logo-wrapper">
				<a href="/">
					<picture>
			      <source class="sidebar__logo" src="../../../images/GabrielsBakeryLogo.webp" type="image/webp">
			      <source class="sidebar__logo" src="../../../images/GabrielsBakeryLogo.png" type="image/png">
			      <img class="sidebar__logo" src="../../../images/GabrielsBakeryLogo.png" alt="Image of Gabriels Bakery Logo">
			    </picture>
				</a>
			</div>

		<!-- Nav -->
			<nav>
				<ul class="sidebar__nav-wrapper">
					<li>
						<a href="/about" class="sidebar__nav-link">
							<span class="sidebar__nav-item">ABOUT</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
					<li class=sidebar__dropdown-button>
						<a href="/products" class="sidebar__nav-link">
							<span class="sidebar__nav-item">PRODUCTS</span>
						</a>
						<div class="sidebar__dropdown">
							<ul class="sidebar__dropdown-wrapper">
								<a href="/products/bread" class="sidebar__dropdown-link">
									<li class="sidebar__dropdown-item">BREAD</li>
								</a>
								<p class="sidebar__dropdown-hr">_______</p>
								<a href="/products/bagels" class="sidebar__dropdown-link">
									<li class="sidebar__dropdown-item">BAGELS</li>
								</a>
							</ul>
						</div>
					</li>
          <p class="sidebar__nav-hr">_______</p>
					<li>
						<a href="/where-to-buy" class="sidebar__nav-link">
							<span  id="where_to_buy" class="sidebar__nav-item">WHERE TO BUY</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
					<li>
						<a href="/contact" class="sidebar__nav-link">
							<span class="sidebar__nav-item">CONTACT</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
				</ul>
			</nav>
	</div>

	<div class="sidebar__business-info-wrapper">
		<h4><strong>Follow Us</strong></h4>
    <p class="sidebar__business-info">_______</p>
    <p class="sidebar__business-info"><a href="https://www.instagram.com/gabrielsbakery/"><i class="fab fa-instagram" aria-hidden="true"></i> @gabrielsbakery </a></p>
    <p class="sidebar__business-info"><a href="https://www.facebook.com/gabrielsbakerypdx"><i class="fab fa-facebook-square" aria-hidden="true"></i> facebook.com/gabriels-bakery </a></p>
  </div>

</div>
