<div class="sidebar">
	<div class="top">

		<!-- Logo -->
			<div class="sidebar__logo-wrapper">
				<a href="/">
					<img class="sidebar__logo" src="../../../images/GabrielsBakeryLogo.png" alt="" />
				</a>
			</div>

		<!-- Nav -->
			<nav>
				<ul class="sidebar__nav-wrapper">
					<li>
						<a href="/about" class="sidebar__nav-link">
							<span class="sidebar__nav-item">About</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
					<li>
						<a href="/products" class="sidebar__nav-link">
							<span class="sidebar__nav-item">Products</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
					<li>
						<a href="/contact" class="sidebar__nav-link">
							<span class="sidebar__nav-item">Contact</span>
						</a>
					</li>
          <p class="sidebar__nav-hr">_______</p>
					<li>
						<a href="/where-to-buy" class="sidebar__nav-link">
							<span class="sidebar__nav-item">Where To Buy</span>
						</a>
					</li>
				</ul>
			</nav>

	</div>

	<div class="sidebar__business-info-wrapper">
    <h6>Address:</h6>
    <p class="sidebar__business-info">1100 NE 21st Ave. #A</p>
    <p class="sidebar__business-info">Portland, OR</p>
    <p class="sidebar__business-info">97212</p>
    <h6>Hours:</h6>
    <p class="sidebar__business-info">8:00am-5:00pm Daily</p>
    <h6>Phone:</h6>
    <p class="sidebar__business-info">Amilcar (Owner): (503)-481-7133</p>
    <p class="sidebar__business-info">Gabriel (Manager): (503)-975-1272</p>
    <p class="sidebar__business-info">Sandro (Assistant Manager): (971)-227-8374</p>
    <h6>Email:</h6>
    <p class="sidebar__business-info">info@gabrielsbakery.com</p>
  </div>

</div>
