<header class="centered-navigation" role="banner">
    <div class="centered-navigation-wrapper">
      <a href="/" class="mobile-logo">
        <img src={{ page.logo }} alt="Logo image">
      </a>
      <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
          <li id="js-centered-more" class="nav-link more"><a href="/products">Products</a>
            <ul class="submenu">
              <li><a href="/products/bread">Bread</a></li>
              <li><a href="/products/bagels">Bagels</a></li>
              <li class="more"><a href="/products/pastries">Pastries</a>
              </li>
            </ul>
          </li>
          <li class="nav-link"><a href="/where-to-buy">Where To Buy</a></li>
          <li class="nav-link logo">
            <a href="/" class="logo">
              <img src={{ page.logo }} alt="Logo image">
            </a>
          </li>
          <li class="nav-link"><a href="/about">About</a></li>
          <li class="nav-link"><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    </header>
