<div class="mobile-nav">
  <!-- Logo for mobile view -->
  <a href="/">
    <img class="mobile-nav__logo" src="../../../images/GabrielsBakeryLogo.webp" alt="Logo for Gabriel's Bakery">
  </a>
  <!-- Hamburger menu -->
  <i class="fa fa-bars mobile-nav__menu-button" aria-hidden="true"></i>
<!-- Menu list for mobile -->
  <nav class="mobile-nav__menu-wrapper">
    <a href="/">
      <img class="mobile-nav__logo" src="../../../images/GabrielsBakeryLogo.webp" alt="Logo for Gabriel's Bakery">
    </a>
    <i class="fa fa-times mobile-nav__close-button" aria-hidden="true"></i>
    <ul>
      <li class="mobile-nav__menu-item">
        <a href="/about">
          ABOUT
        </a>
      </li>
      <p class="mobile-nav__nav-hr">_______</p>
      <li class="mobile-nav__menu-item">
        <a href="/products">
          PRODUCTS
        </a>
      </li>
      <p class="mobile-nav__nav-hr">_______</p>
      <li class="mobile-nav__menu-item">
        <a href="/contact">
          CONTACT
        </a>
      </li>
      <p class="mobile-nav__nav-hr">_______</p>
      <li class="mobile-nav__menu-item">
        <a href="/where-to-buy">
          WHERE TO BUY
        </a>
      </li>
      <p class="mobile-nav__nav-hr">_______</p>
      <p class="sidebar__business-info"><a href="https://www.instagram.com/gabrielsbakery/"><i class="fa fa-instagram" aria-hidden="true"></i> @gabrielsbakery </a></p>
      <p class="sidebar__business-info"><a href="https://www.facebook.com/gabrielsbakerypdx"><i class="fa fa-facebook-square" aria-hidden="true"></i> facebook.com/gabriels-bakery </a></p>
    </ul>
  </nav>
</div>
