<div class="mobile-nav">
  <!-- Logo for mobile view -->
  <a href="{{ site.BASE_PATH }}/">
    <img class="mobile-nav__logo" src="{{ site.BASE_PATH }}/images/GabrielsBakeryLogo.png" alt="Logo for Gabriel's Bakery">
  </a>
  <!-- Hamburger menu -->
  <i class="fa fa-bars mobile-nav__menu-button" aria-hidden="true"></i>
<!-- Menu list for mobile -->
  <nav class="mobile-nav__menu-wrapper">
    <a href="{{ site.BASE_PATH }}/">
      <img class="mobile-nav__logo" src="{{ site.BASE_PATH }}/images/GabrielsBakeryLogo.png" alt="Logo for Gabriel's Bakery">
    </a>
    <i class="fa fa-times mobile-nav__close-button" aria-hidden="true"></i>
    <ul>
      <li class="mobile-nav__menu-item">
        <a href="{{ site.BASE_PATH }}/about">
          ABOUT
        </a>
      </li>
      <p class="mobile-nav__nav-hr">_______</p>
      <li class="mobile-nav__menu-item">
        <a href="{{ site.BASE_PATH }}/products">
          PRODUCTS
        </a>
      </li>
      <p class="mobile-nav__nav-hr">_______</p>
      <li class="mobile-nav__menu-item">
        <a href="{{ site.BASE_PATH }}/contact">
          CONTACT
        </a>
      </li>
      <p class="mobile-nav__nav-hr">_______</p>
      <li class="mobile-nav__menu-item">
        <a href="{{ site.BASE_PATH }}/where-to-buy">
          WHERE TO BUY
        </a>
      </li>
    </ul>
  </nav>
</div>
