<div class="welcome">
  <div class="welcome__wrapper">
    <h1 class="welcome__title">Welcome To Gabriel's Bakery!</h1>
    <h3 class="welcome__subtitle">Stay Home and Stay Safe Portland. Find our Breads and Bagels at a Store Near You!</h3>
    <!-- <h3 class="welcome__subtitle">Find our new logo at stores near you!</h3> -->
    <img class="welcome__image img-responsive"src="../../images/GabrielsBakeryLogo.webp" alt="image of Gabriels Bakery new logo">
    <button class="welcome__enter-button"type="button" name="button">Enter Website</button>
  </div>
</div>
