<div class="welcome">
  <div class="welcome__wrapper">
    <h1 class="welcome__title">Welcome To Our New Website!</h1>
    <h2 class="welcome__subtitle">After 30 years of serving Portland, we have changed our look.</h2>
    <h2 class="welcome__subtitle">Find our new logo at stores near you!</h2>
    <img class="welcome__image img-responsive"src="../../images/GabrielsBakeryLogo.png" alt="image of Gabriels Bakery new logo">
    <button class="welcome__enter-button"type="button" name="button">Enter Website</button>
  </div>
</div>
