<div class="welcome">
  <div class="welcome__wrapper">
    <h1 class="welcome__title">Welcome To Gabriel's Bakery!</h1>
    <h3 class="welcome__subtitle">Stay Home and Stay Safe Portland. Find our Breads and Bagels at a Store Near You!</h3>
    <picture>
      <source class="welcome__image img-responsive" src="../../images/GabrielsBakeryLogo.webp" type="image/webp">
      <source class="welcome__image img-responsive" src="../../images/GabrielsBakeryLogo.png" type="image/png">
      <img class="welcome__image img-responsive" src="../../images/GabrielsBakeryLogo.png" alt="Image of Gabriels Bakery Logo">
    </picture>
    <button class="welcome__enter-button"type="button" name="button">Enter Website</button>
  </div>
</div>
