body {
  margin-left: 20em;
}

#header {
		background: #edc228;
		box-shadow: inset 0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
		color: #edc228;
		height: 100%;
		left: 0;
		position: fixed;
		text-align: right;
		top: 0;
		width: 20em;

		.bottom {
      position: relative;
      display: block;
      font-size: 0.75em;
      padding: 0em 1.5em 0em 1.5em;
      color: #000000;

      p {
        margin-bottom: 0;
      }
		}

	#logo {
		position: relative;
		margin: 1.75em 1.5em 0em 1.5em;
    min-height: 12em;
		cursor: default;

		.image {
      max-height: 10em;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	#nav {
		ul {
			margin-bottom: 0;

			li {
				a {
					display: block;
					padding: 0em 1.5em 0em 1.5em;
					color: #000000;
					text-decoration: none;
					outline: 0;
					border: 0;

					span {
						position: relative;
						display: block;
						font-size: 1.5em;

						&:before {
							position: absolute;
							left: 0;
							color: #41484c;
							text-align: right;
							width: 1.25em;
							line-height: 1.75em;
						}
					}

					&.active {
						background: rgba(0, 0, 0, 0.15);
						box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
						color: #fff;

						span:before {
							color: #e27689;
						}
					}
				}
        a:hover {
          color: rgba(255, 255, 255, 0.5);
        }
			}
      p {
        color: #000000;
        display: block;
        padding: 0em 1.5em 0em 1.5em;
      }
		}
	}
}

.jumbotron {
  text-align: center;
}

#home-jumbotron {
  background: rgba(0,0,0,0);
  color: #000000;
}

#main-background {
  height: 100vh;
  background-image: url("../../images/gabriel-temp.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#gabriel {
  max-height: 10em
}

#products {
  background-image: url("../../images/gabriel-temp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.footer {
  background: #000000;
  height: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.product-box {
  flex-grow: 1;
  flex-basis: 33%;
  text-align: center;
  margin: 0 auto;
}

.products {
  max-height: 15em;
}

.bread {
  max-height: 7em;
}

.bagel {
  max-height: 7em;
}

table {
  border-collapse: collapse;
}
th, td {
  padding: 5px 10px;
  border: 1px solid #999;
}
th {
  background-color: #eee;
}

.Blue {
  background-color: #00FFFF
}

#bagelPage {
  background-image: url("../../images/table.jpg");
}
