@font-face {
  font-family: 'refrigerator-deluxe', sans-serif;
  src: url("https://use.typekit.net/btu6pdh.js") format("woff");
  font-style: normal;
  font-weight: 400;

  // font-family: "Inconsolata";
  // src: url("../../fonts/inconsolata-webfont.woff") format("woff");
  // src: url("../../../fonts/leander.ttf");
}
