@font-face {
  font-family: 'refrigerator-deluxe', sans-serif;
  src: url("https://use.typekit.net/btu6pdh.js") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// @font-face {
//   font-family: "refrigerator-deluxe", sans-serif;
//   src: url("https://use.typekit.net/btu6pdh.js") format("woff");
//   font-style: bold;
//   font-weight: 700;
//   font-display: swap;
// }

// @font-face {
//   font-family: "refrigerator-deluxe", sans-serif;
//   src: url("https://use.typekit.net/btu6pdh.js") format("woff");
//   font-style: heavy;
//   font-weight: 900;
//   font-display: swap;
// }

// @font-face {
//   font-family: "refrigerator-deluxe", sans-serif;
//   src: url("https://use.typekit.net/btu6pdh.js") format("woff");
//   font-style: light;
//   font-weight: 300;
//   font-display: swap;
// }
