// Colors
$gold: #edc228;
$black: #000000;
$white: #ffffff;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1200px;

// Fonts
$permanentmarker: 'Permanent Marker', cursive;
$opensans: 'Open Sans', sans-serif;

$headerfont: $permanentmarker;
$bodyfont: $opensans;
