.mobile-nav {

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.mobile-nav__logo {
  height: auto;
  left: 1rem;
  max-height: 7rem;
  position: absolute;
  top: 1rem;
}

.mobile-nav__close-button {
  color: $black;
  cursor: pointer;
  font-size: 4rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.mobile-nav__menu-button {
  color: $black;
  cursor: pointer;
  font-size: 4rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.mobile-nav__menu-wrapper {
  background-image: url("../../../images/gabriels-map.png");
  background-position: center;
  background-size: cover;
  display: none;
  height: 100vh;
  position: fixed;
  text-align: center;
  width: 100vw;
  z-index: 99;
}

.mobile-nav__menu-item {
  list-style: none;

  a {
    color: $black;
    font-size: 2.5rem;
    line-height: 7rem;

    &:hover, &:focus, &:active {
      color: $gold;
    }
  }
}

// For showing and hiding the menu list. Used in scripts.js file
.mobile-nav--display {
  align-items: center;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
}
