.mobile-nav {
  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.mobile-nav__logo {
  height: auto;
  max-width: 10rem;
}

.mobile-nav__menu-button {
  color: $black;
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.mobile-nav__menu-wrapper {
  background-color: $white;
  display: none;
  position: absolute;
  width: 100vw;
  z-index: 99;
}

.mobile-nav__menu-item {
    list-style: none;

  a {
    color: $black;
    line-height: 5rem;

    &:hover, &:focus, &:active {
      color: $gold;
    }
  }
}

// For showing and hiding the menu list. Used in scripts.js file
.mobile-nav--display {
  display: block;
}
