.sidebar {
	background: #edc228;
	box-shadow: inset 0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1); //do you want this?
	color: #edc228;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: right;
	top: 0;
	width: 20em;
  z-index: 999;
}

.sidebar__logo-wrapper {
	cursor: default;
	margin: 1.75em 1.5em 0em 1.5em;
	min-height: 12em;
	position: relative;
}

.sidebar__logo {
	display: block;
	margin: auto;
  max-height: 10em;
}

.sidebar__nav-wrapper {
	margin-bottom: 0;
}

.sidebar__nav-link {
	border: 0;
	color: #000000;
	display: block;
	outline: 0;
	padding: 0em 1.5em 0em 1.5em;
	text-decoration: none;

	&:hover, &:active, &:focus {
		color: rgba(255, 255, 255, 0.5);
		text-decoration: none;
	}
}

.sidebar__nav-item {
	display: block;
	font-size: 1.5em;
	position: relative;
}

.sidebar__nav-hr {
	color: #000000;
	padding: 0em 1.5em 0em 1.5em;
}

.sidebar__business-info-wrapper {
	bottom: 0;
	color: #000000;
	display: block;
	font-size: 0.75em;
	padding: 1.5em;
	position: absolute;
	right: 0;
}

.sidebar__business-info {
	margin-bottom: 0;
}
