#mission {
  background-color: #302e2e;
  color: #edc228;
  font-style: italic;
  margin: 2em;
  padding: 1em;
}

#aboutHeader {
  background-image: url("../../images/aboutHeadImage.jpg");
  background-position: top;
  background-size: cover;
  height: 75vh;

  h1 {
    margin-top: 5em;
  }
}
