.about__mission-quote {
  background-color: $darkgray;
  color: $gold;
  font-style: italic;
  margin: 2rem 0rem 2rem 0rem;
  text-align: justify;
  padding: 2rem;
  font-size: 1.5rem;

  @include desktop {
    font-size: 2rem;
  }

  @include tablet {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}

.about__mission-link {
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: $gold;

  &:hover {
    color: $darkgray;
  }
}

.about__gabriel-image {
  max-width: 100%;
  height: auto;

}

.about__image-caption {
  text-align: center;
  font-size: 1.5rem;
}

.about__wrapper {
  @include hero-styling("../../images/about-background.jpg");
}

.about__text {
  font-size: 1.5rem;
  text-align: justify;

  @include desktop {
    font-size: 1.75rem;
  }

  @include tablet {
    font-size: 1.75rem;
  }
}

.about__title {
  @include title-styling();

}

.about__column-wrapper {
  padding: 2rem;
  font-size: 2rem;

}
