.about__mission-wrapper {
  background-color: $darkgray;
  color: $gold;
  font-style: italic;
  margin: 3rem;
  text-align: justify;
  padding: 2rem;

  @include desktop {
    font-size: 3rem;
  }

  @include tablet {
    font-size: 2rem;
    margin-top: 3rem;
  }
}

.about__mission-link {
  text-align: center;
  font-size: 2rem;
  color: $gold;

  &:hover {
    color: $white;
  }
}

.about__gabriel-image {
  display: block;
  margin: auto;

  @include desktop {
    max-height: 35rem;
  }

}

.about__image-caption {
  text-align: center;
}

.about__wrapper {
  background-image: url("/gabriels-website/images/aboutHeadImage.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  height: 75vh;

  @include desktop {
    font-size: 10rem;
    margin-top: 0;
  }

  @include tablet {
    font-size: 10rem;
    margin-top: 0;
  }
}

.about__text {
  font-size: 2rem;
  text-align: justify;

  @include desktop {
    font-size: 2.5rem;
  }

  @include tablet {
    font-size: 2rem;
  }
}

.about__title {
  color: $white;
  font-size: 5rem;
  text-align: center;
  padding-top: 65vh;


  @include desktop {
    font-size: 7.5rem;
  }

  @include tablet {
    font-size: 7.5rem;
  }
}

.about__column-wrapper {
  padding: 2rem;
  font-size: 2rem;

}

.about__subtitle {
  text-align: center;
  font-weight: bold;

  @include desktop {
    margin-top: 5rem;
  }
}
