.bagels__hero {
  background-image: url("https://sandromateo.github.io/gabriels-website/images/bagels-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;

  @include desktop {
    font-size: 10rem;
    margin-top: 0;
  }

  @include tablet {
    font-size: 10rem;
    margin-top: 0;
  }
}
