.bagels__hero {
  @include hero-styling("../../images/bagels-background.jpg");

}

.bagels {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;

}

.bagels__link {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 33%;
  -webkit-flex: 1 100%;
  flex: 1 100%;
  margin: 0 auto;
  text-align: center;

  @include tablet {
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
  };

  @include desktop {
    flex-basis: 33%;
  }
}

.bagels__wrapper {
  padding: 2.5rem;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0.25rem 0.25rem 1rem $gray;
  }

}

.bagels__image {
  max-height: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
