.bagels__hero {
  background-image: url("../../images/bagels-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;

  @include desktop {
    font-size: 10rem;
    margin-top: 0;
  }

  @include tablet {
    font-size: 10rem;
    margin-top: 0;
  }
}

.bagels__wrapper {
  padding: 4rem;
  height: 30rem;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0.25rem 0.25rem 1rem $gray;
  }
}

.bagels__name {
  max-height: 25rem;
  display: block;
  margin: auto;
}

.bagels__image {
  max-height: 25rem;
  display: block;
  margin: auto;
}

.blueberry {
  background-image: url("../../images/BlueberryBagelLabel.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
