.breads__image, .bagels__image {
  max-height: 10em;
}

.bagels, .breads {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bagels__wrapper, .breads__wrapper {
  padding: 4rem;
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;


  &:hover {
    transform: scale(1.05);
    box-shadow: 0.25rem 0.25rem 1rem $gray;
  }
}

.bagels__link, .breads__link {
  flex-basis: 33%;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 33%;
  margin: 0 auto;
  text-align: center;
}



.bagels__name, .breads__name {
  // text-transform: uppercase;
  font-family: $headerfont;
}

.breads__hero {
  background-image: url("../../images/gabriels-bread.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;

  @include desktop {
    font-size: 10rem;
    margin-top: 0;
  }

  @include tablet {
    font-size: 10rem;
    margin-top: 0;
  }
}

.bagels__hero-title, .breads__hero-title {
  color: $white;
  font-size: 5rem;
  text-align: center;
  padding-top: 15rem;


  @include desktop {
    font-size: 7.5rem;
    padding-top: 20rem;
  }

  @include tablet {
    font-size: 7.5rem;
    padding-top: 20rem;
  }
}

.bagels__hero-subtext, .breads__hero-subtext {
  color: $white;
  font-size: 2.5rem;
  text-align: center;

  @include desktop {
    font-size: 1.5rem;
  }

  @include tablet {
    font-size: 1.5rem;
  }
}
