.breads-details__hero {
  background-color: whitesmoke;
  height: 75vh;

  & .fa-arrow-left, & .fa-arrow-right {
    font-size: 4rem;
    vertical-align: middle;
  }
}

.breads-details__hero-title {
  color: $black;
  text-align: center;
  padding-top: 10rem;
  font-size: 5rem;
  @include desktop {
    padding-top: 0rem;
    font-size: 7.5rem;
  }

  @include tablet {
    padding-top: 0rem;
    font-size: 7.5rem;
  }
}

.breads-details__hero-image {
  display: block;
  margin: auto;
  max-height: 50vh;
  padding-top: 2rem;
}

.breads-details__ingredients {
  font-size: 1.75rem;
  margin-top: 2rem;
}

.breads-details__label-img {
  margin-top: 2rem;
}
.breads-details__detail-wrapper {
  margin-left: 2rem;
  margin-right: 2rem;

  @include tablet {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  @include desktop {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
