.breads__image, .bagels__image {
  max-height: 10em;
}

.bagels, .breads {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 5rem;

}

.bagels__wrapper, .breads__wrapper {
  padding: 4rem;


  &:hover {
    transform: scale(1.05);
    box-shadow: 0.25rem 0.25rem 1rem $gray;
  }
}

.bagels__link, .breads__link {
  flex-basis: 33%;
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
}

.bagels__name, .breads__name {
  text-transform: uppercase;
}
