.breads__image {
  max-height: 10em;
}

.bagels, .breads {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.breads__wrapper {
  padding: 4rem;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0.25rem 0.25rem 1rem $gray;
  }
}

.bagels__link, .breads__link {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 33%;
  -webkit-flex: 1 100%;
  flex: 1 100%;
  margin: 0 auto;
  text-align: center;

  @include tablet {
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
  };

  @include desktop {
    flex-basis: 33%;
  }
}



.breads__name {
  max-width: 17rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.breads__hero {
  @include hero-styling("../../images/bread-background.jpg");

}

.bagels__hero-title, .breads__hero-title {
  @include title-styling();
  // color: $white;
  // font-size: 5rem;
  // text-align: center;
  // padding-top: 5rem;
  //
  //
  // @include desktop {
  //   text-align: left;
  //   font-size: 7.5rem;
  //   padding-top: 5rem;
  //   padding-left: 5rem;
  // }
  //
  // @include tablet {
  //   text-align: left;
  //   font-size: 7.5rem;
  //   padding-top: 5rem;
  //   padding-left: 5rem;
  // }
}

.bagels__hero-subtext, .breads__nutrition-link {
  color: $white;
  font-size: 2.5rem;
  text-align: center;

  @include desktop {
    font-size: 3rem;
  }

  @include tablet {
    font-size: 3rem;
  }
}
