.contact__form-wrapper {
  display: table;
  margin: 3rem auto;
  margin-left: 1rem;

  @include mobile {
    margin: 2rem;
  }

  @include desktop {
    min-width: 70rem;
  }
}

.contact__select {
  border: 1px solid $black;
  border-radius: 0;
  height: 5rem;
  font-size: 1.5rem;
}

.contact__select-label {
  // font-weight: normal;
}

.contact__item-label {
    position: relative;
    display: block;

    .contact__item {
      font-weight: lighter;
      box-sizing: border-box;
      display: block;
      border-radius: 5px;
      border: 1px solid $black;
      padding: 2.5rem;
      // max-width: 50vw;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      outline: none;
      transition: all 0.2s ease-in-out;

      &::placeholder {
        transition: all 0.2s ease-in-out;
        color: $gray;
        font-size: 1.5rem;
      }

      &:focus, &.populated {
        padding-top: 3rem;
        padding-bottom: 2rem;

        &::placeholder {
          color: $white;
        }

        &::-webkit-input-placeholder {
          color: $white;
        }

        &::-moz-placeholder {
          color: $white;
        }

        &::-ms-input-placeholder {
          color: $white;
        }

        & + span {
          opacity: 1;
          top: 0.4rem;
        }
      }
    }

    span {
      color: $gold;
      font-size: 1.25rem;
      position: absolute;
      top: 0rem;
      left: 2rem;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }

// Non form styling
.contact__info-wrapper {
  text-align: right;
  max-width: 25rem;
  margin: 0 auto;

  @include mobile {
    display: none;
  }
}

.contact__info-wrapper--mobile {
  margin: 2rem 2.5rem;
  max-width: 60rem;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.contact__button, .btn {
  font-size: 1.5rem;
  background-color: $gold;
  color: $white;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;

  &:hover, &:focus, &:active {
    color: $gold;
    background-color: $white;
    border: 1px solid $darkgold;
  }
}

.contact__hero {
  @include hero-styling("../../images/contact-background.jpg");

}

.contact__hero-title {
  @include title-styling();
}

.contact__info-title {
  margin-top: 15px;
  margin-bottom: 0px;
}

.contact__hr {
  margin-bottom: 5px;
}
