.main-page {
  // background-attachment: fixed;
  background-image: url("../../images/main-background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
}

.main-page__content-wrapper {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 75vw;
  padding: 2rem;

}

.main-page__title {
  color: $darkgold;
  font-size: 6rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.2rem $darkgray;

  @include desktop {
    font-size: 8.5rem;
    max-width: 50vw;

  }

  @include tablet {
    font-size: 8rem;
    max-width: 75vw;

  }
}

.main-page__subtext {
  color: $white;
  font-size: 2rem;
  line-height: 1.25;
  margin: 0 auto;
  margin-top: 2rem;
  // text-shadow: 0.1rem 0.1rem 0.1rem $darkgray;

  @include tablet {
    max-width: 40vw;
  }

  @include desktop {
    max-width: 40vw;
  }
}

.main-page__feature-title {
  font-family: $headerfont;
  color: $gray;
  font-size: 2.5rem;
}

.main-page__explore-more {
  margin-top: 5rem;

  & a {
    color: $white;

    &:hover, &:focus, &:active {
      color: $gold;
    }
  }
}

.featured__wrapper {
  text-align: center;
  color: $white;
  font-family: $headerfont;
  // background-color: $darkgray;
  margin-left: auto;
  padding: 0.25rem;
}

.featured {
  text-align: center;
  color: $white;
}

.new-item__wrapper, .gluten-free__wrapper {
  padding: 4rem;
  min-height: 45vh;

  // &:hover, &:active, &:focus {
  //   transform: scale(1.05);
  //   box-shadow: 0.25rem 0.25rem 1rem $gray;
  // }
}

.new-item__wrapper {
  // background-image: url("../../images/featured-granola.jpg");
  background-image: url("../../images/featured-glutenfree.jpg");
  background-position: center;
}

.gluten-free__wrapper {
  color: $black;
  background-color: $darkgray;
  // background-image: url("../../images/featured-glutenfree.jpg");
  // background-position: center;

  & hr {
    width: 5rem;
    border: 1px solid $gold;
  }
}
