#home-jumbotron {
  background: rgba(0,0,0,0);
  color: #000000;
}

#main-background {
  height: 100vh;
  background-image: url("../../images/gabriel-temp.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
