.main-page {
  // background-attachment: fixed;
  background-image: url("/gabriels-website/images/main-background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  height: 80vh;
}

.main-page__content-wrapper {
  margin: 0 auto;
  max-width: 75vw;
  margin-top: 20rem;
  padding: 2rem;
}

.main-page__title {
  color: $darkgold;
  font-size: 5rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.2rem $darkgray;

  @include desktop {
    font-size: 7rem;
    max-width: 50vw;
    text-align: right;
    padding-left: 35rem;
    margin-right: -30rem;
  }

  @include tablet {
    font-size: 6rem;
    max-width: 55vw;
    padding-left: 20rem;
    text-align: right;
    margin-right: -10rem;
    margin-top: 5rem;
    // margin-right: -rem;

  }
}

.main-page__subtext {
  color: $white;
  font-size: 2rem;
  line-height: 1.25;
  margin: 0 auto;
  margin-top: 2rem;

  @include tablet {
    max-width: 40vw;
  }

  @include desktop {
    max-width: 40vw;
  }
}

.main-page__feature-title {
  font-family: $headerfont;
  color: $gray;
  font-size: 2.5rem;
}

.main-page__explore-more {
  margin-top: 5rem;

  & a {
    color: $white;

    &:hover, &:focus, &:active {
      color: $gold;
    }
  }
}

.featured {
  text-align: center;
  color: $white;
}

.new-item__wrapper, .gluten-free__wrapper {
  min-height: 45vh;
}

.new-item__wrapper {
  background-image: url("/gabriels-website/images/pastries-market.jpg"),
  url("/gabriels-website/images/featured-glutenfree.jpg"),
  url("/gabriels-website/images/featured-granola.jpg");
  background-size: cover;
  background-position: center;
}

.new-item__image {
  // display: block;
  // position: relative;
  width: 100%;
  height: auto;
  padding-left: -2rem;
}

.gluten-free__wrapper {
  color: $white;
  background-color: $darkgray;
  padding: 2rem;

  // @include tablet {
  //   margin-bottom: 0;
  // }
  //
  // @include desktop {
  //   margin-bottom: 0;
  // }

  & hr {
    width: 5rem;
    border: 1px solid $gold;
  }
}
