// .pastries {
//   display: flex;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   flex-wrap: wrap;
//   margin-top: 1rem;
// }
//
// .pastries__wrapper {
//   flex-grow: 1;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
//   min-height: 30rem;
//   -webkit-flex: 1 1 50%;
//   flex: 1 1 50%;
//
//   @include desktop {
//     flex-basis: 50%;
//   }
// }
//
// .pastries__wrapper--margin {
//   flex-grow: 1;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
//   min-height: 30rem;
//   -webkit-flex: 1 1 50%;
//   flex: 1 1 50%;
//
//   @include desktop {
//     flex-basis: 33%;
//   }
// }
//
// .pastries__list {
//   text-align: right;
//   display: inline;
// }
//
// .pastries__image {
//   display: inline;
//   max-width: 25rem;
//   float: left;
//   margin-top: 5rem;
// }
//
// .pastries__image--muffins {
//   max-width: 28rem;
//   float: left;
//   display: block;
//   margin-top: 10rem;
// }
//
// .pastries__image--miscellaneous {
//   max-width: 22rem;
//   float: left;
//   display: block;
//   margin-top: 5rem;
// }
//
// .pastries__image--three {
//   background-image: url("/gabriels-website/images/pastries-market.jpg");
//   background-position: top;
// }

.pastries__title {
  text-transform: uppercase;
  font-family: $headerfont;
  text-align: center;
}

.pastries__items-wrapper {
  line-height: 0.8;
  max-width: 150px;
}

.pastries__image {
  max-width: 20rem;
  @include desktop {
    max-width: 25rem;
  }
  @include desktop {
    max-width: 25rem;
  }
}

.pastries__wrapper {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  &::after {
    clear: both;
  }
}

.pastries__description-wrapper {
  padding-left: 2rem;
}

.pastries__hero {
  background-image: url("/gabriels-website/images/pastries-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  margin-bottom: 1rem;

  @include desktop {
    font-size: 10rem;
    margin-top: 0;
  }

  @include tablet {
    font-size: 10rem;
    margin-top: 0;
  }
}

.pastries__hero-title {
  color: $white;
  font-size: 5rem;
  text-align: center;
  padding-top: 15rem;


  @include desktop {
    text-align: left;
    font-size: 7.5rem;
    padding-top: 20rem;
    padding-top: 5rem;
    padding-left: 5rem;
  }

  @include tablet {
    text-align: left;
    font-size: 7.5rem;
    padding-top: 20rem;
    padding-top: 5rem;
    padding-left: 5rem;
  }
}
