
.products__grid {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.products__grid-item-wrapper {
  flex-basis: 33%;
  padding: 4rem;
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0.25rem 0.25rem 1rem $gray;
  }
}

.products__image {
  max-height: 10em;
}

.products__hero {
  background-image: url("../../images/gabriel-temp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;

  @include desktop {
    font-size: 10rem;
    margin-top: 0;
  }

  @include tablet {
    font-size: 10rem;
    margin-top: 0;
  }
}

.products__hero-title {
  color: $white;
  font-size: 5rem;
  text-align: center;


  @include desktop {
    font-size: 7.5rem;
  }

  @include tablet {
    font-size: 7.5rem;
  }
}

.products__hero-subtext {
  color: $white;
  font-size: 2.5rem;
  text-align: center;

  @include desktop {
    font-size: 1.5rem;
  }

  @include tablet {
    font-size: 1.5rem;
  }
}
