#products {
  background-image: url("../../images/gabriel-temp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.product-box {
  flex-basis: 30%;
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;

  h2 {
    margin-top: 0;
  }
}

.products {
  max-height: 15em;
}
