.locations__map-wrapper {
  @include mobile {
    margin: 1rem;
  }
}

.locations__product-promo {
  text-align: center;
}

.locations__product-link {
  text-decoration: underline;
}

.locations__map {
  display: block;
  max-height: 25rem;
  margin-left: 1rem;

  @include tablet {
    margin-left: 1rem;
    max-height: 40rem;
  }

  @include desktop {
    margin-left: 5rem;
    max-height: 50rem;
  }
}

.locations__grid {
  overflow-y: auto;
  max-height: 25rem;
  font-size: 2.2rem;
  margin-top: 2rem;
  margin-left: 1rem;

  @include tablet {
    margin-top: 9.5rem;
    max-height: 40rem;
    font-size: 1.5rem;
    max-width: 25rem;
  };

  @include desktop {
    margin-top: 9.5rem;
    max-height: 50rem;
    font-size: 2rem;
    max-width: 25rem;
  }
}

.locations__grid ul {
  list-style-type: none;
}

.locations__grid ul li:hover {
  cursor: pointer;
  color: $gold;
}

.locations__hero {
  @include hero-styling("../../images/where-to-buy-background.jpg");

}

.locations__hero-title {
  @include title-styling();
}

.locations__filter-text {
  font-size: 1.5rem;
  background-color: $gold;
  color: $white;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  margin-bottom: 1rem;

  &:hover, &:focus, &:active {
    color: $gold;
    background-color: $white;
    border: 1px solid $darkgold;
  }
}


.locations__filter-label {
  margin-top: 2rem;
  margin-left: 1rem;

  @include desktop {
    margin-left: 5rem;
  }
}

.col-sm-8 > .locations__filter-text:first-of-type {
  margin-left: 1rem;
  @include desktop {
    margin-left: 5rem;
  }
}
