.flex-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location-box {
  flex-basis: 100%;
  flex-grow: 1;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  @include tablet {
    flex-basis: 50%;
  }

  @include desktop {
    flex-basis: 30%;
  }
}
