---
layout: default
---

<div class="details__hero">
  <h1 class="details__hero-title">
    {% unless page.bagelId == 0 %}
      {% capture previousId %}{{ page.bagelId | minus:1 }}{% endcapture %}
      {% for bagel in site.bagels %}
        {% capture bagelsId %}{{ bagel.bagelId }}{% endcapture %}
        {% if previousId == bagelsId %}
          {% assign previousBagel = bagel.title %}
          <a href={{ "/products/bagels/" | append: previousBagel }}>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        {% endif %}
      {% endfor %}
    {% endunless %}
    {{ page.title }}
    {% unless page.bagelId == 13 %}
      {% capture nextId %}{{ page.bagelId | plus:1 }}{% endcapture %}
      {% for bagel in site.bagels %}
        {% capture bagelsId %}{{ bagel.bagelId }}{% endcapture %}
        {% if nextId == bagelsId %}
          {% assign nextBagel = bagel.title %}
          <a href={{ "/products/bagels/" | append: nextBagel }}>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        {% endif %}
      {% endfor %}
    {% endunless %}
  </h1>
  <div class="row bagels-details__detail-wrapper">
    <button class="btn bagel__locations" id="locations" type="button" name="button" value= {{ page.href }} data-toggle="modal" data-target="#bagelMapModal">Where To Buy</button>

    <div class="modal fade" tabindex="-1" role="dialog" id="bagelMapModal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" id="bagel" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>{{ page.title }} Bagel Locations</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 modal_body_map">
                <div class="location-map" id="location-map">
                  <div class="locations__map" id="product_map"></div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row bagels-details__detail-wrapper">
    <div class="col-md-5 col-md-push-4">

      <picture>
        <source class="details__hero-image img-responsive" src={{ page.image1 }} type="image/webp">
        <source class="details__hero-image img-responsive" src={{ page.image2 }} type="image/png">
        <img class="details__hero-image img-responsive" src={{ page.image2 }} alt="Product Image">
      </picture>
      <div class="details__bagel-ingredients-wrapper">
        <h4 class="details__bagel-ingredients">Ingredients: {{ page.ingredients }}</h4>
      </div>
    </div>
    <div class="col-md-4 col-md-pull-5">
      <picture>
        <source class="img-responsive bagel-details__label-img" src={{ page.labelImage1 }} type="image/webp" data-toggle="modal" data-target="#bagelLabelModal">
        <source class="img-responsive bagel-details__label-img" src={{ page.labelImage2 }} type="image/png" data-toggle="modal" data-target="#bagelLabelModal">
        <img class="img-responsive bagel-details__label-img" src={{ page.labelImage2 }} alt="Product Label" data-toggle="modal" data-target="#bagelLabelModal">
      </picture>

      <div class="modal fade" tabindex="-1" role="dialog" id="bagelLabelModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <picture>
                <source class="img-responsive" src={{ page.labelImage1 }} type="image/webp">
                <source class="img-responsive" src={{ page.labelImage2 }} type="image/png">
                <img class="img-responsive" src={{ page.labelImage2 }} alt="Product Label">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <picture>
        <source class="img-responsive bagel-details__nutrition-image" src={{ page.nutritionImage1 }} type="image/webp" data-toggle="modal" data-target="#bagelLabelModal">
        <source class="img-responsive bagel-details__nutrition-image" src={{ page.nutritionImage2 }} type="image/png" data-toggle="modal" data-target="#bagelLabelModal">
        <img class="img-responsive bagel-details__nutrition-image" src={{ page.nutritionImage2 }} alt="Product Nutrtition Label" data-toggle="modal" data-target="#bagelNutritionModal">
      </picture>

      <div class="modal fade" tabindex="-1" role="dialog" id="bagelNutritionModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <picture>
                <source class="img-responsive" src={{ page.nutritionImage1 }} type="image/webp">
                <source class="img-responsive" src={{ page.nutritionImage2 }} type="image/png">
                <img class="img-responsive" src={{ page.nutritionImage2 }} alt="Product Nutrition Label">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
