---
layout: default
---
<div class="details__hero">
  {% include mobile-nav.html %}
  <h1 class="details__hero-title">
    {% unless page.bagelId == 0 %}
      {% capture previousId %}{{ page.bagelId | minus:1 }}{% endcapture %}
      {% for bagel in site.bagels %}
        {% capture bagelsId %}{{ bagel.bagelId }}{% endcapture %}
        {% if previousId == bagelsId %}
          {% assign previousBagel = bagel.title %}
          <a href={{ "/products/bagels/" | append: previousBagel }}>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        {% endif %}
      {% endfor %}
    {% endunless %}
    {{ page.title }}
    {% unless page.bagelId == 13 %}
      {% capture nextId %}{{ page.bagelId | plus:1 }}{% endcapture %}
      {% for bagel in site.bagels %}
        {% capture bagelsId %}{{ bagel.bagelId }}{% endcapture %}
        {% if nextId == bagelsId %}
          {% assign nextBagel = bagel.title %}
          <a href={{ "/products/bagels/" | append: nextBagel }}>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        {% endif %}
      {% endfor %}
    {% endunless %}
  </h1>
  <div class="row bagels-details__detail-wrapper">
    <div class="col-md-5 col-md-push-4">

      <img class="details__hero-image img-responsive" src={{ page.image }} alt="product image">
      <div class="details__bagel-ingredients-wrapper">
        <h4 class="details__bagel-ingredients">Ingredients: {{ page.ingredients }}</h4>
      </div>
    </div>
    <div class="col-md-4 col-md-pull-5">
      <img class="bagel-details__label-image img-responsive"src={{ page.labelImage }} alt="product label" data-toggle="modal" data-target="#bagelLabelModal">

      <div class="modal fade" tabindex="-1" role="dialog" id="bagelLabelModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <img class="modal-image img-responsive" src={{ page.labelImage }} alt="product label">
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>

    <div class="col-md-3">
      <img class="bagel-details__nutrition-image img-responsive"src={{ page.nutritionImage }} alt="product nutrition label" data-toggle="modal" data-target="#bagelNutritionModal">

      <div class="modal fade" tabindex="-1" role="dialog" id="bagelNutritionModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <img class="modal-image img-responsive"src={{ page.nutritionImage }} alt="product nutrition label">
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</div>
