---
layout: default
description: Detailed page of a specific bread sold by Portland based and family run Gabriel's Bakery.
---

<div class="breads-details__hero">
  {% include mobile-nav.html %}

  <h1 class="breads-details__hero-title">

    {% unless page.breadId == 0 %}

      {% capture previousId %}{{ page.breadId | minus:1 }}{% endcapture %}

      {% for bread in site.bread %}
        {% capture breadId %}{{ bread.breadId }}{% endcapture %}

        {% if previousId == breadId %}
          {% assign previousBagel = bread.title %}
          <a href={{ "/products/bread/" | append: previousBagel }}>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        {% endif %}
      {% endfor %}

    {% endunless %}

    {{ page.title }}
    {% unless page.breadId == 12 %}
      {% capture previousId %}{{ page.breadId | plus:1 }}{% endcapture %}
      {% for bread in site.bread %}
        {% capture breadId %}{{ bread.breadId }}{% endcapture %}
        {% if previousId == breadId %}
          {% assign previousBagel = bread.title %}
          <a href={{ "/products/bread/" | append: previousBagel }}>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        {% endif %}
      {% endfor %}
    {% endunless %}
  </h1>

  <div class="row bagels-details__detail-wrapper">
    <button class="btn bread__locations" id="locations" type="button" name="button" value= {{ page.href }} data-toggle="modal" data-target="#breadMapModal">Where To Buy</button>

    <div class="modal fade" tabindex="-1" role="dialog" id="breadMapModal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" value=  aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class= "bread__modal-header"> {{ page.title }} Bread Locations</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 modal_body_map">
                <div class="location-map" id="location-map">
                  <div class="locations__map" id="product_map"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <picture>
    <source class="breads-details__hero-image img-responsive" src={{ page.image1 }} type="image/webp">
    <source class="breads-details__hero-image img-responsive" src={{ page.image2 }} type="image/png">
    <img class="breads-details__hero-image img-responsive" src={{ page.image2 }} alt="Product Image">
  </picture>

</div>


  <div class="row breads-details__detail-wrapper">
    <div class="col-md-4">
      <picture>
        <source class="img-responsive breads-details__label-img" src={{ page.labelImage1 }} type="image/webp" data-toggle="modal" data-target="#breadLabelModal">
        <source class="img-responsive breads-details__label-img" src={{ page.labelImage2 }} type="image/png" data-toggle="modal" data-target="#breadLabelModal">
        <img class="img-responsive breads-details__label-img" src={{ page.labelImage2 }} alt="Product Label" data-toggle="modal" data-target="#breadLabelModal">
      </picture>

      <div class="modal fade" tabindex="-1" role="dialog" id="breadLabelModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <picture>
                <source class="img-responsive" src={{ page.labelImage1 }} type="image/webp">
                <source class="img-responsive" src={{ page.labelImage2 }} type="image/png">
                <img class="img-responsive" src={{ page.labelImage2 }} alt="Product Label">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-push-4">
      <br>
      <picture>
        <source class="img-responsive breads-details__nutrition-img" src={{ page.nutritionImage1 }} type="image/webp" data-toggle="modal" data-target="#breadNutritionModal">
        <source class="img-responsive breads-details__nutrition-img" src={{ page.nutritionImage2 }} type="image/png" data-toggle="modal" data-target="#breadNutritionModal">
        <img class="img-responsive breads-details__nutrition-img" src={{ page.nutritionImage2 }} alt="Nutrition Label" data-toggle="modal" data-target="#breadNutritionModal">
      </picture>

      <div class="modal fade" tabindex="-1" role="dialog" id="breadNutritionModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <picture>
                <source class="img-responsive" src={{ page.nutritionImage1 }} type="image/webp">
                <source class="img-responsive" src={{ page.nutritionImage2 }} type="image/png">
                <img class="img-responsive" src={{ page.nutritionImage2 }} alt="Nutrition Label">
              </picture>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 col-md-pull-4">
      <h4 class="breads-details__ingredients">Ingredients: {{ page.ingredients }}</h4>
    </div>
  </div>
</div>
