<!DOCTYPE html>
<html>
  <head>

  {% include head.html %}

  </head>
  <body>

    {% include header.html %}
    {% include mobile-nav.html %}
    <div class="page-container">

      {{ content }}

    </div>

    <!-- JS Libraries -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO04gOPCK85qfPcGUNrfZL5ppxnNFoCRI"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stupidtable/1.0.3/stupidtable.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{{base_path}}/js/script.js"></script>
    <script src="{{base_path}}/js/map.js"></script>

  </body>
</html>
