---
layout: default
---

{{ content }}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src= {{ page.image }} alt="product image">
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src= {{ page.labelImage }} alt="product label">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src= {{ page.nutritionImage }} alt="product label">
    </div>
    <div class="col-md-6">
      <p>Ingredients: {{ page.ingredients }}</p>
    </div>
  </div>
</div>
